@charset "utf-8";

@import "_extension_import.scss";

.controller {
	position: fixed;
	top: 0;
	right: 0;
	li {
		display: inline-block;
		background: #666;
		color: #fff;
		width: 2em;
		line-height: 2em;
	}
}
